<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Cities</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <div class="container">
    {{form}}
  </div>
  <div class="container-fluid">
  <h1>Hello World!</h1>
  <p>Resize the browser window to see the effect.</p>
  <p>The columns will automatically stack on top of each other when the screen is less than 768px wide.</p>
  <div class="row">
    <div class="col-md-4" style="background-color:lavender;"> DENVER </div>
    <div class="col-md-4" style="background-color:lavenderblush;"> NEW YORK </div>
    <div class="col-md-4" style="background-color:lavender;"> SAN FRANSISCO </div>
    <div class="col-md-4" style="background-color:lavenderblush;"> DETROIT </div>
    <div class="col-md-4" style="background-color:lavender;"> CHICAGO </div>
    <div class="col-md-4" style="background-color:lavenderblush;"> SAN JOSE </div>
  </div>
</div>
</body>
<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

</html>
